atproto>=0.0.55
python-dotenv>=1.0.0
spacy>=3.7,<4.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
geopy>=2.4,<3.0
langdetect>=1.0.9
